.pr-snippet-review-count{font-size:85%;}

.pr-snippet-review-count {
padding: 0;
margin: 0;
font-size: 95%;
line-height: 26px;
position: relative;
}

.pr_snippet_product .pr-snippet-review-count {
display: inline;
clear: right;
}

.pr-snippet-stars{border:0px solid #cbcbcb;background:#fff;padding:.3em;float:left;margin-right:.3em;margin-top:3px;}
/*.pr-snippet-stars .pr-stars-small,.pr-modal-container .pr-stars{float:left;height:30px;line-height:15px;width:100px;}*/
.pr-snippet-stars .pr-stars-small,.pr-modal-container .pr-stars{float:left;height:30px;line-height:30px;width:90px;background-image:url(/images/stars_small.gif);}

/*.pr-stars{background-repeat:no-repeat;height:1.25em;line-height:1.25em;margin:0 .25em 0 0;padding:0;position:relative;width:7em;}*/

.pr-stars {
background-repeat: no-repeat;
height: 1.25em;
line-height: 1.25em;
margin: 0 .25em 0 0;
padding: 0;
position: relative;
width: 7em;
}

.pr-snippet-stars2{border:0px solid #cbcbcb;background:#fff;padding:.3em;float:left;margin-right:.3em;}
.pr-snippet-stars2 .pr-stars-small,.pr-modal-container .pr-stars{float:left;height:30px;line-height:30px;width:83px;background-image:url(/images/stars_small.gif);}




.pr-snippet-stars2 .pr-snippet-rating-decimal{float:left;margin-right:.3em;height:30px;line-height:15px;font-size:85%;}
.pr-snippet-stars2 .pr-snippet-rating-decimal{background-color:#414142;color:#fff;padding:0 .2em 0;}

.pr-popout{float:left;width:11px;height:11px;background:url(/images/icon_popout.gif) no-repeat 0 0;margin:0 .1em;}

.pr-snippet-read-write{border:0px solid #cbcbcb;background:#fff;padding:.6em .3em;font-size:77%;text-align:center;clear:both;margin-top:0px;}
.pr-snippet-read-write a.pr-snippet-link{color:#0072bc;}
.pr-snippet-read-write a.pr-snippet-link span{font-weight:bold;}
.pr-snippet-read-reviews{border-right:1px dotted #cbcbcb;float:left;padding:0 1em;}
.pr-snippet-write-review{float:left;padding:0 1em;}
.pr-snippet-write-first-review p{display:inline;padding-right:.3em;}
.pr-facebook-like-snippet{float:left;}
.pr-google-plus-one{float:left;margin-right:10px;}

.pr-stars-small-subrating{background-image:url(images/stars_subrating.gif);}
/*.pr-stars-small{height:16px;line-height:16px;width:83px;background-image:url(images/stars_small.gif);}*/

.pr-stars-small {
height: 16px;
line-height: 16px;
width: 83px;
background-image: url(images/stars_small.gif);
}

.pr-snippet-rating-decimal{float:left;margin-right:.3em;height:15px;line-height:15px;font-size:85%;}


.pr-review-points .pr-review-points-attr-wrapper .pr-attribute-group{width:31%;}
.pr-review-points-attr-wrapper .pr-last{margin-right:0;}
.pr-attribute-label-pros{color:#696;}
.pr-attribute-label-cons{color:#c33;}
.pr-attribute-label-bestuses{color:#333;}
.pr-attribute-key p{background-color:#ccc;display:block;font-weight:bold;padding:.4em .4em .3em;margin:0;text-transform:uppercase;text-align:left;}
.pr-attribute-value{padding:.4em;}
.pr-attribute-value-list{list-style:none;margin:0;padding:0;}
.pr-snapshot-attribute-value-list{height:6.6em;}
.pr-attribute-value-list li{line-height:1.4em;font-size:92%;}



.pr-review-points-attr-wrapper .pr-attribute-group {
    border: 1px solid #CCCCCC;
    float: left;
    margin-right: 1%;
    overflow: hidden;
    width: 32%;
}
.pr-rounded {
    border-radius: 0.2em 0.2em 0.2em 0.2em;
}
.pr-review-points-attr-wrapper .pr-last {
    margin-right: 0;
}




.pr-rating {
background-color: #414142;
color: white;
padding: 0 .4em 0;
vertical-align: top;
}
/*.pr-rounded {
-moz-border-radius-topleft: .2em;
-moz-border-radius-topright: .2em;
-moz-border-radius-bottomleft: .2em;
-moz-border-radius-bottomright: .2em;
-webkit-border-top-left-radius: .2em;
-webkit-border-top-right-radius: .2em;
-webkit-border-bottom-left-radius: .2em;
-webkit-border-bottom-right-radius: .2em;
border-top-right-radius: .2em;
border-top-left-radius: .2em;
border-bottom-right-radius: .2em;
border-bottom-left-radius: .2em;
}*/

.pr-snapshot-rating {
line-height: 1.25em;
}
.pr-snapshot-body {
font-size: 100%;
}

.pr-review-engine {
font-family: inherit;
font-size: inherit;
font-weight: inherit;
text-align: left;
}

.pr-modal-container{border:1px solid #7F7F7F;background-color:#FFF;position:absolute;width:800px;z-index:10001;}
.pr-snippet-wrapper{border:1px solid #cbcbcb;background:#efefef;padding:.25em;text-align:left;}



.pr-review-author-date {
    background: url("/images/grad_grey_129.gif") repeat-x scroll left bottom transparent;
    border: 1px solid #999999;
    float: right;
    font-size: smaller;
    margin: 0 0 0 1em;
    padding: 0.2em 0.6em;
    text-align: center;
    text-transform: uppercase;
}
pr_sty...iew.css (line 1)
.pr-rounded {
    border-radius: 0.2em 0.2em 0.2em 0.2em;
}
.pr-review-rating-headline {
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
