.show_hide_toggle_btn {display:none;}
 .sb-hide {	display: none; }
img.ShowMobile {display: none;}
a { color:#337ab7;}
.NotDesk {display: block;}
.NotMobile {display: none;}
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

.faqBox {width: 100%; display: inline-block;}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

#footer-box2{ height:157px !important;}

.hiddendesc , #hidedv{ display:none;}
 ul.contact_icons_list { font: bold 15px/1 Arial, Helvetica, sans-serif; color:#000; text-transform:uppercase; margin:0; padding:6px 0 0 0; list-style-type: none; text-align:center;}
 ul.contact_icons_list li { display:inline-block; float:left; width:33.333333334%; margin:0; padding:0; list-style-type: none;}
 ul.contact_icons_list li a:link,
 ul.contact_icons_list li a:visited { text-decoration:none; color:#000; display:block; padding:20px 0; background-color:#CCC;}
 ul.contact_icons_list li a:hover { text-decoration:none; color:#000; background-color:#CCC;} 
 #dvTab2{  border-radius:5px;}
 /* custom settings */
@media screen and (max-width: 1000px)  {
.NotDesk {display: none !important;}
.NotMobile {display: block !important;}
img.ShowMobile {display: block;}
img.HideMobile {display: none !important;}
.dtprod-prod-id {height: auto;}
 #footer-inner p.footer-telephone a, #footer-inner p.footer-address a {padding-left: 10px !important;}
#livechat-compact-container{ display:none;}
#social-links , #tag-line , #top-links , #top-bar , #container{ display:none;}
#header-box , #main-container2 , #top-bar ,  #top-nav , #top-nav-linkbox , #main-middle-area , #home-top-banner , #home-ctg-listing , #home-bestseller , #home-newproduct , #home-bestseller-head , #brief-wrapper-full , #home-newproduct-head , #left-side-box , #footer-inner , #footer-bottom , #footer-copyright , #footer-cccards , #footer-box4 , #templ-categories-shisha ,.navigator_products , #templ-custompage , #custom-links , #hc-contactpage , .outer , #box1 , #box2 , #boxShadowRatings , .table-survey , #boxShadowReason , #box3 , #dtprod-authentic{ width:100% !important; margin:0 auto; /*float:none !important;*/}
 #home-welcome{ width:92%}
#main-container1{ overflow-x: hidden; }
#logo-box{ float:none; text-align:center; padding: 3px !important; margin-top:0px !important; margin-left: auto; margin-right: auto;}
#logo-box img { float:none; display: block; text-align:center; padding: 0 !important; margin-top:0; margin-left: auto; margin-right: auto; width: auto; max-width: 100%;}
#top-links{ width:100%; /*background-color:#142322;*/ padding:0; }
#left-side-wrapper{ width:100% !important ; float:none !important; margin:10px 0 0 0 ; display:block;}
#right-side-box{ width:100% !important; float:none !important; margin:10px 0 0 0; display:block;}
#menu_categorytypes{ float:none;}
#home-ctg-listing img { float:none; margin: 10px 0 0 0; text-align: center !important;}
#search-box { margin:0; width:98% !important; background-image: none; border:5px solid #142322; border-radius:5px; background-color: #FFF !important;}
#searchQueryInputField{margin:0; width:84% !important; }
#sub-ctg-wrapper{ width:auto;}
.sub-ctg-description , .categories_path_content , #sub-ctg-wrapper h1 { width:100% !important; float:none !important; display:block; margin:0 !important; padding:0 !important;}
#contact-info , #top-nav , #home-ctg-listing , .mobiledes { display:none;}
#left-side-wrapper .show_hide_toggle_btn {display:block;}
.show_hide_toggle_btn {display:block;}
/*#left-side-box { display:none;}*/
#custom-links-header , #menu_categorytypes span.categorytype-name{ font-size:18px; float: left; text-align: left;}
#left-side-box ul li , #footer-box1 p , #footer-box1 a , #footer-box2 a,  #footer-box3 a , #footer-box4 a , #footer-box4 p{ font-size:16px;}
.class_menuitem_categorytype , #menu_categorytypes li { width:98% !important;}
#menu_categorytypes{ width:90% !important;}
#left-side-box{ margin-top:10px;}
#footer-box1 , #footer-box2{ width:50%; margin:0;}
.footer-address{ width:90%}
#footer-bottom{ padding-top:30px;}
#dvTab1 div#left-side-box{ display:none;}
#dvTab1:hover div#left-side-box{ display:block !important; cursor:pointer;}
.sb-slidebar {
	height: 100%;
	overflow-y: auto; /* Enable vertical scrolling on Slidebars when needed. */
	position:absolute;
	top: 260px;
	z-index:9999; /* Slidebars sit behind sb-site. */
	display: none; /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
	 background-color: #222222; /*Default Slidebars background colour, overwrite this with your own css. */
	-webkit-transform: translate(0px); /* Fixes issues with translated and z-indexed elements on iOS 7. */
}
#sb-site{ min-height:25px !important}
#main-container1{ background-image:none !important;}
#chk-infolink { width:100%; float:none; display:block; }
/* cart */
#main-middle-area { background:#fff !important; width:100% !important; }
#webpage_content_body_temp { padding: 0 5px; }
#chk-officehour, #ck-contactus, .chk-infolink-links { width:33% !important; margin:10px !important;} 
#templ-custompage { float:none !important; display:block; }
/* contact us */
#hc-contact-faq, #hc-contact-form, #hc-contact-faq-inner { width:100% !important; float:none !important; display:block;}
.hc-contact-faq-top { width:49% !important;}
.hc-contact-faq-info { width:100% !important; padding:1em 0 !important;}
#footer-bottom{ border-top:none;}
.hlsect img{ width:auto !important;}
#home-bestseller-head{ padding-left:5px;}
.resp-triList-container { display:block !important;}
ul.resp-triList a#resp-triList-ico_1 { background:url(/images_templ/hc/search-ico.png) no-repeat center top; background-position:50% 1px;  }
ul.resp-triList a#resp-triList-ico_2 {background:url(/images_templ/hc/tell-ico.png) no-repeat center top; background-position:50% 1px;}
ul.resp-triList a#resp-triList-ico_4 { background:url(/images_templ/hc/user.png) no-repeat center top; background-position:50% 1px; background-size: 25px; }
ul.resp-triList a#resp-triList-ico_3 {background:url(/images_templ/hc/cart-ico.png) no-repeat center top; background-position:50% 1px;}
#search-box { display:none ;}
td , a:link , a:active , a:visited , a:hover{ font-size:12px;}
tr{ padding:2px 0;}
#templ-custompage{ padding:0;}
#chk-three-steps{ display:none;}
.navigator_products { padding:0 !important; float:none !important;}
#detail-wrapper ,
#detail-templ-wrap{ width:100% !important; /*float:none !important;*/ display:block; padding:.5em 0 !important;}
#dtprod-name h1 { line-height:1;}	
#new-to-hookah #boxes { margin:2em auto !important; padding:0 !important; float:none !important; }
.hookah-setup-box,
.setup-box-wrap { width:100% !important; display:block;} 	
.setup-box-wrap .setup-img { width:15% !important;}	
.setup-box-wrap .setup-text { width:80% !important; padding-left: 8px;}
.sitemap_body { width:100% !important; display:block !important; float:none !important;}
.listitem_sitemap_custompage { width:31.5% !important; margin:.5em !important;}
.navigator_products, #templ-custompage p.sitemap_custommenu { width:100% !important;}
.dspn{ display:none; }
.taxtare{ width:100%;}
#chk-infolink {display:none;}
#footer-box2 { height:156px;}
.writerewiew, .cmname{ width:100%;}
#detail-wrapper #detailed_description p.detailed{ width:100%;}
#detail-wrapper #detailed_description table{ width:100%;}
#sub-ctg-wrapper{ background-image:none; padding:10px}
#home-top-banner { text-align:center;}
#webpage_content_body_temp img{ max-width: 100%; width: auto; height: auto;}
#webpage_content_body_temp img.ReconfigImg, #webpage_content_body_temp img.Responsive { width: 100%; height: auto;}
#webpage_content_body_temp span{ font-size:12px !important;}
#hookah-links , .hookah-etiquette-info , #hookah-etiquette , #hookah-history , .hookah-history-img , .hookah-history-info p , #footer-box3 , .hookah-history-head h1{ width:100% !important;}
#faq img{ max-width:39% !important; width: auto;}
.hookah-history-img img{ width:100%;}
.newscale img{ width:auto !important;}
#hidedv{ display:block;}
}


@media screen and (max-width: 950px) 
{
    iframe.Hide { width: 100% !important; }
     #footer-inner p.footer-telephone, #footer-inner p.footer-address {padding-left: 10px !important; display: block;}
    #livechat-eye-catcher {display: none !important;}
	/*body { display:none !important;}*/ 
	.hc-contact-faq-head ,
	.hc-contact-form-head,
	.international-faq-head,
	.faq-wrap,
	.international-faq,
	.domestic-faq,
	.domestic-faq-head{ width:100% !important; padding:5px !important;}
	.international-faq-head .international-faq-flag ,
	.international-faq-head .international-faq-text,
	.domestic-faq-head .domestic-faq-flag,
	.domestic-faq-head .domestic-faq-text { width:49% !important;}

	#livechat-compact-container{ display:none;}
}


@media screen and (max-width: 768px) 
{
     #footer-inner p.footer-telephone a, #footer-inner p.footer-address a {padding-left: 10px !important;}
	.sb-hide { 
	display: block; }

	.setup-box-wrap .setup-img { width:20% !important;}	
	.setup-box-wrap .setup-text { width:80% !important;}
	.listitem_sitemap_custompage { width:48% !important; margin:.5em !important;}
	.listitem_sitemap_products {width:45% !important; margin:1em !important;}
	 #livechat-compact-container{ display:none;}
	
	.dtprod-prod-id { border: none !important; width: 180px !important;}
}

@media screen and (max-width: 650px) {
    #footer-box1, #footer-box2, #footer-box3, #footer-box4 {margin-left: 0 !important; height: auto; padding-bottom: 3px;}
.sb-hide { 
	display: block; /* Optionally applied to control classes when Slidebars is disabled over a certain width. */}
#hc-contact-form .forminnerbox ,
#hc-contact-form .form-comment,
#hc-contact-form .form-textarea ,
#hc-contact-form .form-textarea textarea.cfstyle,
#hc-contact-form .form-wrap .preferred-way,
#hc-contact-form  .formfooter{ width:100% !important; float:none !important; }
#hc-contact-form .form-name,
#hc-contact-no ,
#hc-contact-add { width:50% !important; } 
#hc-contact-form .iformcell { width:48% !important;}
#brief-wrapper-full .brief-wrap{ float:none !important; margin:5px auto !important; height: auto;}

#new-to-hookah #boxes { width:100% !important; display:block; }
#new-to-hookah .top-box ,
#new-to-hookah .new-box ,
#new-to-hookah .bottom-box { background:#e6f1eb !important; height:auto !important; width:100% !important;}
#new-to-hookah .new-box { padding:1em !important; border-radius:5px; width:75% !important; margin:0 auto !important; }
#new-to-hookah .bottom-last { display:none !important;}
#footer-box4{  padding-bottom:20px; height:160px;}
.brief-qty , .brief-buynow{ text-align:center; margin:5px 0;}
  
}
@media screen and (max-width: 650px) 
{
    #brief-wrapper-full > form > div > div.brief-buynow > input {float:right;}
.sb-hide { 
	display: block; /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
 }
 /* Responsive Category Cells */

 #home-newproduct, #main-container2 {width: 100% !important;}
 #webpage_content_body_temp {padding: 0 !important;}
 .menu_categorytype li.class_menuitem_category a.menuitem_category_link {width: 100%;}
 .brief-wrap-search , #brief-wrapper-full .brief-wrap, #brief-wrapper-full .brief-wrap-search { float:none !important;   position: relative; padding: 5px; margin: 0 !important; border-bottom: 1px solid #cccccc;}
 .brief-image a.product_link {display: block !important;}
 #brief-wrapper-full .brief-wrap, #brief-wrapper-full .brief-wrap-search { width: 100% !important; height: auto !important; display: block; position: relative}
 #brief-wrapper-full .brief-wrap div, #brief-wrapper-full .brief-wrap-search div {display: block; float: left; margin: 0 !important;}
 #brief-wrapper-full div.brief-wrap .brief-image, #brief-wrapper-full div.brief-wrap-search .brief-image { width: 25% !important; height: 160px !important; }
 #brief-wrapper-full div.brief-wrap .brief-image img, .brief-wrap-search .brief-image a img, #brief-wrapper-full div.brief-wrap .brief-image-search img { width: 100% !important; max-width: 100% !important; height: auto !important; margin: auto !important; vertical-align: middle; clear:both; }
 #brief-wrapper-full .brief-name, #brief-wrapper-full .pr-snippet_category,  #brief-wrapper-full .brief-listpriceblank, #brief-wrapper-full .brief-sellprice,
 #brief-wrapper-full .brief-prdgrp-option { height: auto; width: 70%; text-align: left; display: inline-block; padding: 5px 0 0 10px !important; }
 #brief-wrapper-full .brief-qty { height: auto; width: 30%; text-align: left; display: inline-block; padding: 15px 0 0 10px !important; }
#brief-wrapper-full .brief-buynow { height: auto; width: 30%; text-align: left; display: inline-block; float: right !important; padding-right: 20px !important; padding-top: 15px; }
#option_1_inputs > select {padding: 5px; width: 100%; left: 0 !important;}
#brief-wrapper-full > form > div > div.brief-name {left: 0 !important;}
#brief-wrapper-full > form > div > div.brief-qty > input {padding: 5px;}
#brief-wrapper-full .brief-name a {font-size: 15px; font-weight: bold}
#pr-snippet-LAN44-1 > div > div {height: 15px !important;}
.pr_snippet_category .pr-snippet-wrapper {left: 0 !important;}

 #home-newproduct-head{
	 background: none repeat scroll 0 0 #252525;
    color: #fff;
    font-size: 18px;
    height: 25px;
    line-height: 25px;
    padding-left: 18px;
    text-transform: uppercase;
	 }
#home-newproduct , #brief-wrapper-full , #home-bestseller , #brief-wrapper-full{ float:none !important;}
#home-newproduct{ clear:both !important; }

#home-newproduct{  background: url("/images_templ/hc/blank.png") repeat;}
#home-welcome{  background: url("/images_templ/hc/blank.png") repeat; padding: 14px;}
#home-welcome h1{color: #fff;
    font-size: 20px;}
#home-welcome p{  color: #fff;
    font-size: 14px;
    margin: 10px 0 0;
    padding: 5px 0;}
#footer-main { background-color: #142322; color: #fff; width: 100% !important; height: auto; }
#footer-box1 , #footer-box2 { width:50%; margin:0; float:left; margin-left:10px;}
.footer-address{ width:90%;}
#footer-bottom{ padding-top:30px;}
#footer-inner p strong{background: none repeat scroll 0 0 #203735;
    color: #ff8f00;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin: 0 0 4px;
    padding: 0 10px;
    text-transform: uppercase;}
	#footer-box4{ width:95%; float:left; margin-left:10px;}
	#footer-bottom{ display:none;}
	#hc-contact-form .form-name{ float:none;}
	.form-reset , .form-submit { float:none; text-align:left;}
	#chk-officehour , #chk-contactus , #chk-infolink-links{ width:100%;}
	
	
	#hc-contact-form .forminnerbox ,
	.hc-contact-faq-moreinfo,
	#dtprod-image-info,
	#dtprod-review-bar,
	#detail-tabs,
	#home-tabbox-inner,
	#detail-tabs #tabs-1,
	#tab-inner-content,
	#detail-wrapper #detailed_description,
	#detail-tabs #tabs-2,
	.pr_snippet_product,
	.dtprod-prod-id,
	.addthis_toolbox{ width:100% !important; margin:0 0 0.75em 0  !important; padding:0 !important;}
	#detail-image,
	#detail-info,
	#hc_options { width:100% !important;}
	.dtprod-prod-id { border: none !important;}
	#detail-tabs .ui-tabs-nav li { width:33% !important;}
	#detail-tabs ul.ui-tabs-nav li.ui-state-default a { width:100% !important;}
	
	.setup-box-wrap .setup-img { width:30% !important;}	
	.setup-box-wrap .setup-text { width:70% !important;}
	.listitem_sitemap_products {width:auto !important; display:block !important;}
	#home-top-banner a img{ text-align:center !important; margin:5px 0; }
	.ctr , .shi{ display:none;}
	
	.responsivetable tr td{ font-size:11px !important;}
	.ratingstable table tr td{ display: inline-block; font-size:8px; word-wrap: break-word; white-space:normal;}
	#faqQuestion{ width:100%}
	#livechat-compact-container{ display:none;}
	#hc-contact-form .form-wrap { float:left !important; width:100% ;}
	.col-sm-12 {width: 100% !important;}
}
@media screen and (max-width: 480px) 
{
#brief-wrapper-full > form > div > div.brief-prdgrp-option > table {padding-right: 10px;}
#logo-box{margin-top:36px;}
#home-top-banner img{ width:100%;}
.col-xs-12 {width: 100% !important;}
 .brief-wrap-search , .brief-wrap , #templ-categories-shisha #brief-wrapper-full .brief-image{ margin: 5px auto !important;}
 .menu_categorytype li.class_menuitem_category a.menuitem_category_link, .menu_categorytype li.class_menuitem_category a.menuitem_category_link:hover {width: 100%;}
#home-newproduct-head{background-color:#252525;color: #fff;font-size: 18px;height: 25px;line-height: 25px;padding-left:5px;text-transform: uppercase;}
#home-newproduct , #brief-wrapper-full , #home-bestseller , #brief-wrapper-full{ float:none !important;}
#home-newproduct {  background: url("/images_templ/hc/blank.png") repeat; }
#home-welcome{  background: url("/images_templ/hc/blank.png") repeat; padding: 14px;}
#home-welcome h1{color: #fff;font-size: 20px;}
#home-welcome p{  color: #fff;font-size: 14px;margin: 10px 0 0;padding: 5px 0;}
#footer-main{background-color: #142322;color: #fff; width: 100% !important;height: auto; }
#footer-box1 , #footer-box2, #footer-box3 , #footer-box4 { width:100%; margin:0; float:left; margin-left:10px;}
.footer-address{ width:90%}
#footer-bottom{ padding-top:30px;}
#footer-inner p strong{background: none repeat scroll 0 0 #203735;
    color: #ff8f00;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin: 0 0 4px;
    padding: 0 10px;
    text-transform: uppercase;}
	#footer-box4{ width:95%; float:left; /*margin-left:10px;*/}
	#footer-bottom{ display:none;}
	.form-reset , .form-submit { text-align:left !important;  width:40%  !important;}
	#chk-officehour , #chk-contactus , .chk-infolink-links{ width:100%;}
	
	#hc-contact-form .forminnerbox ,
	.hc-contact-faq-moreinfo{ width:100% !important;}
	
	#hc-contact-form .forminnerbox ,
	.hc-contact-faq-moreinfo,
	#dtprod-image-info,
	#dtprod-review-bar,
	#detail-tabs,
	#home-tabbox-inner,
	#detail-tabs #tabs-1,
	#tab-inner-content,
	#detail-wrapper #detailed_description,
	#detail-tabs #tabs-2,
	.pr_snippet_product,
	.dtprod-prod-id,
	.addthis_toolbox{ width:100% !important; margin:0 0 0.75em 0  !important; padding:0 !important;}
	#detail-image,
	#detail-info,
	#hc_options,
	#detail-tabs ul.ui-tabs-nav { width:100% !important;}
	#detail-tabs .ui-tabs-nav li { width:33% !important;}
	#detail-tabs ul.ui-tabs-nav li.ui-state-default a { width:100% !important;}
	
	.setup-box-wrap .setup-img { width:30% !important;}	
	.setup-box-wrap .setup-text { width:70% !important;}
	.listitem_sitemap_products { width:auto !important; margin:1em auto !important; display:block; float:none !important;  }
	.listitem_sitemap_custompage { width:100% !important; float:none !important; margin:0 !important; }
	.list_sitemap_custompages { float:none !important;}
	#home-top-banner a img{ text-align:center !important; margin:5px 0; }
	.ctr , .shi{ display:none;}
	.ratingstable table tr td{ display:inline-block; font-size:8px; word-wrap: break-word; white-space:normal;}
	.categories_path_content table tr td img{ width:100%;}
	/*#webpage_content_body_temp div img { width:100%;}*/
	.responsivetable tr td , .responsivetable tr td a{ font-size:11px !important;}
	#bugLongDsc , #hc_vids , #hc_includes , #hc_buynow , #hc_qty , #hc_ourprice , #hc_options table.product_options tr.product_options_title , #hc_options table.product_options tr.option_row{ width:96%}
	.greybox li{ width:112px;}
	.terms_txt img{ width:100% }
	#faqQuestion{ width:100% ; margin-left:0;}
	#livechat-compact-container{ display:none;}
	#hc-contact-form .form-name,
#hc-contact-no ,
#hc-contact-add { width:50% !important; float:none !important; } 
#hc-contact-form .form-wrap { float:left !important; width:100% ;}
.hiddendesc img , .cutomize img{ width:100% !important;}
#detail-image img{ width:100% !important;}
.searchResultsFilterContent table tr td{ display: list-item;}
.modal-window { width:93% !important; left:auto !important; right:11px !important; top:300px !important; height: auto !important;bottom:auto !important;}
.small_extra_image{ width:100% !important;}
 
 }
 
