<!DOCTYPE html>
<html>
<head>
 
    <title>What You Want</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
    
</head>
<body>
        <input type="radio" id="one" value="km" v-model="picked">
        <label for="one">km</label>
        
        <input type="radio" id="two" value="miles" v-model="picked">
        <label for="two">miles</label>
        <br>
        <span>Units: {{ picked }}</span>
            
    <div id="app">
        <div class="slidecontainer">
            Travel range (.5k/1650 feet to 50k/30 miles) <input type="range" min="500" max="50000" value="1700" class="slider" id="distance" onchange="updateTextInput(this.value)"> 
            <input type="text" id="textInputkm" value="0.5">km
            <input type="text" id="textInputm" value= "1700*0.00062137119223733">miles
    
          </div>
    </div>

    <div id="app-2">
        <span v-bind:title="message">
          Hover your mouse over me for a few seconds
          to see my dynamically bound title!
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>
    <script type="text/javascript" src="lunch.js"></script>
</body>