html {
    background-color: oldlace;
    font-size: 10px;
    /* background: url("https://unsplash.com/wallpaper/1065396/desktop-wallpapers") bottom center; */
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;    
}


#button1 , #button2 {
    display:inline-block;
    }