html {
    background-color: #cf9900;
    font-family: sans-serif;
}
body {
  margin: 0px;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
}

h1 {
  font-size: 200%;
  font-family: cursive;
  text-align: center;
}
#logo {
  width: 60px;
  float: right;
}

#navblock {
  display: inline;
  margin-inline-end: 60px;
  box-sizing: content-box;
  font-family: sans-serif;
}
#nav {
	width: 90%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #cf9900;
  
}
#nav ul {
	list-style: none;
	width: 1000px;
	margin: 0 auto;
  padding: 0; 
}
#nav li {
  float: left; 
}
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #000;
  border-right: 1px solid #000; 
}
#nav li:first-child a {
  border-left: 1px solid #000; 
}
#nav li a:hover {
	color: #c00;
  background-color: #fff; 
}
  
.layout {
  display: flex;
  flex-direction: row;
}