html {
    background-color: darkorange;
    font-family: sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: #333333;
  line-height: 1.6em;
}

h1 {
  font-family: cursive;
}


