html {
    background-color: oldlace;
    font-size: 20px;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
img {
       width: 90px;
}
 form {
    text-align: center;
    margin: 0 auto; 
    width:60%;
 }
 article {
    text-align: left;
    color: black;
  }
