<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/page.css">
    <script type="text/javascript" src="../static/js/geo.js"></script>
</head>
<body>
    <h1>My Location</h1>
    <button id ="here">Click me</button> 
    <button id ="save">Save this spot</button>
   <div id ="display"></div>
</body>

    <!-- <script type="text/javascript" src="../static/js/app.js"></script>
    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register("../sw.js").then(function(registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script> -->
</html>